.sidebar_container {
	min-height: 89vh;
	width: 30%;
	border: none;
	border-right: 0.2px solid rgba(224, 209, 209, 0.822);
	display: flex;
	flex-flow: column;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
	gap: 4rem;
}

.sidebar_container p {
	margin: 1em;
	padding: 0;
}

.sidebar_container main {
	padding: 0.5em;
	flex: 0.8;
}

.sidebar_temp {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: none;
	border-bottom: 0.1px solid rgba(224, 209, 209, 0.822);
	margin-bottom: 20%;
	flex-wrap: nowrap;
}

.sidebar_temp p {
	font-size: 20px;
}

.sidebar_temp h1 {
	margin: 0;
	font-size: 40px;
}

.sidebar_temp2 {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.sidebar_temp2 p {
	font-size: 20px;
	margin: 0;

}

.sidebar_header {
	padding: 20px;
	width: 85%;
}

.sidebar_input {
	display: flex;
	width: 100%;
	gap: 1rem;
	align-items: center;
	justify-content: space-evenly;
}
