.todayInfo_list {
	/* padding: 2rem;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	gap: 2em;
	height: 100%; */
}

/* .todayInfo_firstRow {
	display: flex;
	flex-flow: row;
}

.todayInfo_secondRow {
	display: flex;
	flex-flow: row;
} */
