html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: rgb(250, 245, 245) !important;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	font-family: "Roboto", sans-serif;
}

#__next {
	overflow: hidden;
	height: 89vh;
	width: 95vw;
	margin: 1em auto;
	padding: 2rem;
	background-color: rgb(255, 254, 254);
	border-radius: 2rem;
}
